.slideshow {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: 415px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 25px;
  
    &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
    }

  .slide-in-right {
    transform: translateX(100%);
    animation: slideInRight 0.8s ease forwards;
    z-index: 2;
  }

  .slide-in-left {
    transform: translateX(-100%);
    animation: slideInLeft 0.8s ease forwards;
    z-index: 2;
  }

  .slide-out-right {
    transform: translateX(0%);
    animation: slideOutRight 0.8s ease forwards;
  }

  .slide-out-left {
    transform: translateX(0%);
    animation: slideOutLeft 0.8s ease forwards;
  }
  
    &__arrow {
      position: absolute;
      top: 40%;
      color: white;
      font-size: 2rem;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 2;
  
      &.left {
        left: 0px;
        font-size: 80px;
      }
  
      &.right {
        right: 0px;
        font-size: 80px;
      }
    }
  
    &__counter {
      position: absolute;
      bottom: 25px;
      left: 50%;
      color: white;
      font-weight: 500;
      font-size: 18px;
      z-index: 4;
    }
  }

  @keyframes slideInRight {
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes slideInLeft {
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes slideOutRight {
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideOutLeft {
    to {
      transform: translateX(100%);
    }
  }

  @media screen and (max-width: 768px) {
    .slideshow {
      height: 255px;
      border-radius: 10px;
  
      &__arrow {
        font-size: 40px;
  
        &.left,
        &.right {
          font-size: 26px;
          top: 112px;
        }
      }
  
      &__counter {
        display: none;
      }
    }
  }